<ion-content [fullscreen]="true">
  <div>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="takePhoto()" expand="block" fill="clear" shape="round">
            Tomar Foto
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <!-- Contenido de tu lista aquí -->
    </ion-list>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule" routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="search" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="camera">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="user" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </div>
</ion-content>
