<ion-content [fullscreen]="true">
  <div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-col class="ion-text-center ion-align-items-center">
      <img src="assets/img/subir.jpg" alt="search" style="width: 80%; height: auto; margin-left: 30px;">
    </ion-col>
    <br>



    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule" routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="search" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="camera">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="user" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>


</div>


</ion-content>

