<ion-content [fullscreen]="true">
  <div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-col class ="ion-text-center">
      <img src="assets/img/Pagina_en_construccion.jpg" alt="search">
    </ion-col>


    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule" routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="search" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="camera" routerLink="/upload">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="user">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>


</div>


</ion-content>

