<ion-content [fullscreen]="true">
  <div>
  <ion-grid>
    <br>
    <ion-row>
      <ion-col class ="ion-text-center">
        <img src="assets/img/logoinicio.png" alt="logo" style="width: 80%; margin-top: 20px;">
      </ion-col>
    </ion-row>
      <ion-row class ="ion-text-center">
        <ion-col>
          <h1 class="titulo-app">Phototeam</h1>
        </ion-col>
        <br>
      </ion-row>
      <br>
      <ion-row class ="ion-justify-content-center">
        <ion-col size = "8">
          <ion-button routerLink="/iniciar" expand="block" color="light">Iniciar sesion</ion-button>
        </ion-col>
        <ion-col size = "8">
          <ion-button routerLink="/registro" expand="block" color="light">Registrarse</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</div>


</ion-content>
