ion-content{
    --ion-background-color: url(/assets/img/blue.jpg) no-repeat center center / cover

}

h6 {
    text-align: center;
  }

  .config-button {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    height: 100vh; /* Ajustar la altura al 100% del viewport */
  }
  