ion-content{
    --ion-background-color: url(/assets/img/blue.jpg) no-repeat center center / cover

}

h6 {
    text-align: center;
  }

  .config-button {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
  }
  