<ion-content [fullscreen]="true">
  <div>
  <ion-grid>
    <br>
    <ion-row>
      <ion-col class ="ion-text-center">
        <img src="assets/img/logoinicio.png" alt="logo" style="width: 80%; margin-top: 20px;">
      </ion-col>
    </ion-row>
      <ion-row class ="ion-text-center">
        <ion-col>
          <h1 class="titulo-app">Iniciar Sesion</h1>
        </ion-col>

      </ion-row>
      <ion-card>
        <form [formGroup] = "formularioIniciar">
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Usuario</ion-label>
            <ion-input formControlName="nombre" type="text" [(ngModel)]="user.usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-center" position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
        </form>
    </ion-card>
    <div class="centered-link">
      <a href="/olvidar-contraseña">¿Ha olvidado su contraseña?</a>
    </div>
    <br>
      <ion-row>
      </ion-row>
      <ion-row class="ion-text-center ion-justify-content-center">
        <ion-col>
          <button class="glow-on-hover" routerLink="/inicio" type="button">Volver</button>
        </ion-col>
        <ion-col>
          <button class="glow-on-hover" (click)="ingresar()" type="button">Iniciar sesion</button>
        </ion-col>
      </ion-row>    
  </ion-grid>
</div>


</ion-content>